
.social a :not(.resume) {
    color: white
    }
    .resume {
        color: pink;
    font-weight: bold;}

    .social .resume:hover , .social .fontawesome:hover {
        color: pink;
        font-weight: bold;
        transform: translate(2px, -4px);
        -webkit-transform: translate(2px, -4px);
        -moz-transform: translate(2px, -4px);
        -ms-transform: translate(2px, -4px);
        -o-transform: translate(2px, -4px);
}